@model Forums.Web.Models.UserLogin
@using System.Web.Optimization
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Login/_LayoutLogin.cshtml";
}

<div class="modal-wrap">
    <div class="modal-bodies">
        <div class="modal-body modal-body-step-1 is-showing">
            <div class="title">Log In</div>
            <div class="description">Welcome again</div>
            @Html.ValidationSummary(true)
            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @id = "login" }))
            {

                @Html.AntiForgeryToken()
                <div class="input-data">
                    <div id="error-credential-login" class="text-red"></div>
                    <input type="text" placeholder="UserName" name="Credential" id="Credential" @*onkeyup="validateCredential()"*@ required />
                </div>
                <div class="input-data">
                    <div id="error-password-login" class="text-red"></div>
                    <input type="password" placeholder="Password" name="Password" id="Password" @*onkeyup="validatePassword()"*@ required />
                </div>
                <div class="text-center">
                    <input type="submit" value="Login" class="button" style="width:200px; ">
                </div>

                <script src="assets/js/login.js"></script>
                <hr>

                <div class="text-center"> Don't have an account? <a href="/register" class="btn-link">Sign up</a></div>

            }
        </div>
    </div>
</div>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
