<section class="welcome-part-one">
    <div class="container">
        <div class="welcome-demop102 text-center">
            <h2>"Welcome to #BlogHub, here your thoughts become Captivating Stories, <br>Inspiring Narratives and Meaningful Experiences."</h2>
            <p>
                Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis. Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque. Pellentesque
                <br> habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur vitae velit in neque dictum blandit
            </p>

            @*<div class="form-style8292">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-pencil-square" aria-hidden="true"></i></span>
                <input type="text" class="form-control form-control8392" placeholder="Ask any question and you be sure find your answer ?"> <span class="input-group-addon"><a href="#">Ask Now</a></span>
            </div>
        </div>*@

            <div class="text-center">
                <br>
                <a href="/login"><div class="btn">Create an Article</div></a>
            </div>

        </div>
    </div>

</section>
